.camera-container {
  text-align: center;
}

.camera-center {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 2px dashed red;

  md-icon {
    position: absolute;
    color: red;
  }
}

.camera {
  width: 98%;
}
